.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toolbar {
  background-color: darkcyan;
}

.title {
  flex-grow: 1;
}

.image {
  display: block;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}
